<!DOCTYPE HTML>

<html>
    <head>
        <title>{% block title %}MySQL Params{% endblock title %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        {% block extra_css %}{% endblock extra_css %}
        
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{# url 'index' #}">MySQL Params</a>
            {% block nav %}
            {% endblock nav %}
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="hero-unit">
                {% block hero %}{% endblock hero %}
            </div>
        </div>
    </div>
    
    {% block body %}{% endblock body %}
    
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
