<!DOCTYPE HTML>

<html>
    <head>
        <title>{% block title %}MySQL Params{% endblock title %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        {% block extra_css %}{% endblock extra_css %}
        
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{% url 'index' %}">MySQL Params</a>
            {% block nav %}
            <ul class="nav">
                <li><a href="{% url 'param_group_list' %}">Parameter Groups</a></li>
                <li><a href="{% url 'db_instance_list' %}">DB Instances</a></li>
                <li><a href="{% url 'recent_changes' %}">Recent Changes</a></li>
                <li class="dropdown">
                    <a href="#" id="drop" role="button" class="dropdown-toggle disabled" data-toggle="dropdown">Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'param_group_report' %}">Parameter Groups</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'db_instance_report' %}">DB Instances</a></li>
                    </ul>
                </li>
            </ul>
            {% endblock nav %}
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="hero-unit">
                {% block hero %}{% endblock hero %}
            </div>
        </div>
    </div>
    
    {% block body %}{% endblock body %}
    
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
