{% extends "base.html" %}

{% block title %}{{ block.super }} - Config Files{% endblock title %}

{% block hero %}
<h2>Config File: {{ config_file.name }}</h2>
{% endblock hero %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            <h3>Parameters:</h3>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k,v in config_file.ordered_parameters.items %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div>
    <div>
</div>
{% endblock body %}
