.highlight{
    background-color: #333333;
    color: #FFFFFF;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
    margin: 0;
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}
